.game-screen {
  display: flex;
  flex: 1;
}

.spin-wheel {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spin-wheel__wrapper {
  position: relative;
  width: 350px;
  height: 350px;
}

.spin-wheel__button {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(251,251,251);
  background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(228,228,228,1) 50%, rgba(219,219,219,1) 100%);
  border: 2px solid rgb(98,98,98);
  border-radius: 50%;
  width: 70px;
  height: 70px;

  color: rgb(98,98,98);
  font-size: 18px;
  font-weight: bolder;
}

.spin-wheel__button:focus {
  outline: none;
}

.spin-wheel__arrow {
  z-index: 10;
  position: absolute;
  top: 142px;
  left: 186px;
  border: 2px solid rgb(98,98,98);
  background: rgb(224,224,224);
  background: linear-gradient(-45deg, rgba(228,228,228,1) 70%, rgba(230,230,230,1) 100%);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 11px;
  transform: rotate(-87deg);
}

.spin-wheel__selected-category {
  position: absolute;
  z-index: 9;
  top: -120px;
  width: 270px;
  height: 180px;
  background-image: url(../images/selected_category.svg);

  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 110px;
}

.record {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 360px;
  height: 430px;
  background-image: url(../images/container.svg);
  padding-top: 210px;

  text-align: center;
  color: rgb(98,98,98);
}

.record__class {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 56px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  margin-top: 20px;
  margin: auto;
  padding-bottom: 20px;
}