.spin-wheel {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spin-wheel__wrapper {
  position: relative;
}

.spin-wheel__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(251,251,251);
  background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(228,228,228,1) 50%, rgba(219,219,219,1) 100%);
  border: 1px solid rgb(98,98,98);
  border-radius: 50%;
  width: 85px;
  height: 85px;

  color: rgb(98,98,98);
  font-size: 18px;
  font-weight: bolder;
}

.spin-wheel__button:focus {
  outline: none;
}

.spin-wheel__selected-category {
  position: absolute;
  z-index: 9;
  top: -120px;
  width: 270px;
  height: 180px;
  background-image: url(../images/selected_category.svg);

  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 110px;
}