.game-screen {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  position: relative;
}

.header__title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;;
}

.header__background {
  width: 100%;
}

.spin-wheel {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spin-wheel__wrapper {
  position: relative;
}

.spin-wheel__button {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(251,251,251);
  background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(228,228,228,1) 50%, rgba(219,219,219,1) 100%);
  border: 2px solid rgb(98,98,98);
  border-radius: 50%;
  width: 85px;
  height: 85px;

  color: rgb(98,98,98);
  font-size: 18px;
  font-weight: bolder;
}

.spin-wheel__button:focus {
  outline: none;
}

.spin-wheel__arrow {
  z-index: 10;
  position: absolute;
  top: 181px;
  left: 235px;
  border: 3px solid rgb(98,98,98);
  background: rgb(224,224,224);
  background: linear-gradient(-45deg, rgba(219,219,219,1) 20%, rgba(228,228,228,1) 60%, rgba(240,240,240,1) 100%);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(-85deg);
}

.spin-wheel__selected-category {
  position: absolute;
  z-index: 9;
  top: -120px;
  width: 270px;
  height: 180px;
  background-image: url(../images/selected_category.svg);

  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  text-align: center;
  padding-top: 110px;
}

.record {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 70px;
  width: 360px;
  height: 430px;
  background-image: url(../images/container.svg);
  padding-top: 200px;

  text-align: center;
  color: rgb(98,98,98);
}

.record__class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 56px;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  margin: 15px 0 70px;
}

.record__title {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: bolder;
  font-size: 80px;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  text-transform: uppercase;
  color: rgb(255,176,0);
}

.record__button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid rgba(98, 98, 98, 0.5);
  background-clip: padding-box;
}

.record__button--active {
  background-color: rgb(98,98,98);
}

.record__loading {
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  text-transform: uppercase;
  color: rgb(255,176,0);
}

.recording_animation {
  display: flex;
  align-self: center;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(98,98,98);
}

.playback__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255,176,0);
}

.playback__icon {
  width: 100px;
  height: 100px;
}