.lobby {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lobby__name-card {
  width: 365px;
  height: 385px;
  background-image: url(../images/name_card.svg);
  margin-bottom: 40px;
  color: rgb(98,98,98);
  font-size: 30px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  text-align: center;

  padding-top: 200px
}

.lobby__name-input {
  margin: 20px;
  height: 3em;
  border-radius: 30px;
  padding: 0 30px;

  color: rgb(98,98,98);
  font-size: 20px;
  font-weight: bold;
}

.lobby__button {
  height: 2.5em;
  width: 400px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px rgb(98,98,98);
  margin-bottom: 20px;
  border-radius: 40px;
  border: 5px solid rgba(219, 219, 219, 0.5);
  background: linear-gradient(0deg, rgba(255,248,162,1) 0%, rgba(255,191,34,1) 50%, rgba(255,176,0,1) 100%);
  background-clip: padding-box;
}