* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

#root {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #315fb0;
  background-image: url(./images/background.svg);
}

.main {
  display: flex;
  flex: 1;
  height: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 200px;
}

.footer__image {
  object-fit: contain;
  height: 200px;
  z-index: 1;
  margin-right: 20px;
}

.footer__border {
  position: absolute;
  top: 48px;
  height: 10px;
  width: 100%;
  background-color: #3a6bcd;
}

.footer__block {
  position: absolute;
  top: 58px;
  height: 100%;
  width: 100%;
  background-color: #223692;
}